body {
    background-color: white;
}

header {
    display: flex;
    height: 140px;
    background-color: #C4C4C4;
}

.contenedor {
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

header .contenedor .cabecera {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
}

header .contenedor-boton-menu{
    width: 20%;
    /* display: flex; */
    display: none;
    justify-content: center;
}

header .contenedor-boton-menu .btn-menu-cerrar{
    display: none;
}

header .contenedor-boton-menu button{
    font-size: 20px;
    color: #ffff;
    padding: 10px 20px;
    border: 1px solid transparent;
    display: inline-block;
    cursor: pointer;
    background: none;
}

header .contenedor-boton-menu button:hover{
    border: 1px solid rgba(255, 255, 255, .5)
}

.cabecera {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
}

.abajo {
    background-color: #263185;
}

.abajo nav ul li a {
    color: white;
}

.logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    height: 100px;
    width: 218px;
}

.menu {
    width: 70%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}

nav {
    color: #7A7A7A;
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 900;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    text-decoration: none;
    padding: 13px;
    flex-grow: 1;
    display: block;
}

nav ul li a {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    color: #263185;
}


.up {
    height: 100px;
    background-color: #C4C4C4;
}

main {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1 {
    text-align: center;
    font-size: 25px;
}

.contenedor-grid{
position: relative;
width: 1%;
}

.grid{
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 80px;
    z-index: 1000;
    /* display: none; */
}